# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore node_modules
node_modules/

# Ignore logs
nohup.out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Ignore database files
chat.db
chat.db-shm
chat.db-wal

# Ignore uploaded files
public/uploads/
